TODOIST_API_TOKEN=your_token_here
TODOIST_ENV=prod
TODOIST_BASE_URL=https://api.todoist.com/rest/v2
HTTP_LOG=false
RETRY_MAX=2
RETRY_DELAY_MS=300
REQUEST_TIMEOUT_MS=10000
QASE_API_TOKEN=
QASE_PROJECT_CODE=
QASE_TEST_RUN_TITLE=
QASE_TEST_RUN_TAGS=
